[Desktop Entry]
Name=Lite-XL
Type=Application
Exec=/usr/bin/lite-xl %f
Icon=litexl
Categories=GTK;Development;IDE;TextEditor;
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
Terminal=false
StartupNotify=true
Keywords=Text;Editor;
